// Global color definitions for the application
// These colors should be used across all components

// Primary colors
$primary: #c7a24d;
$primary-light: #e0c27a;
$primary-dark: #8e6b2c;

// Secondary colors
$secondary: #2f9b4f;
$secondary-light: #4fb86a;
$secondary-dark: #1f6b36;

// Success colors
$success: #4fb86a;
$success-light: #6fd08a;
$success-dark: #2c7a42;

// Error colors
$error: #c2412d;
$error-light: #e06452;
$error-dark: #8c2b1f;

// Warning colors
$warning: #d2b36a;
$warning-light: #e6ca84;
$warning-dark: #a8873f;

// Info colors
$info: #a67c52;
$info-light: #c29567;
$info-dark: #7a593b;

// Neutral colors
$text-primary: #f2e5cf;
$text-secondary: #c6b79a;
$text-disabled: #8c8270;

$divider: #3b2f1f;

// Background colors
$background-default: #0b0b0b;
$background-paper: #151515;

// Dark theme colors
$dark-text-primary: #f2e5cf;
$dark-text-secondary: #c6b79a;
$dark-text-disabled: #8c8270;

$dark-divider: #3b2f1f;

$dark-background-default: #0b0b0b;
$dark-background-paper: #151515;


